*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.row{
    width:100%;
    padding:50px;
    padding-left:180px;
   
}
p{
    padding-top:30px;
    padding-bottom:20px;
    padding-left:10px;
    width:90%;
    color: white;
    overflow:hidden; 
}
.sec1,.sec2,.sec3{
    position:relative;
    background-color: gray;
    border: 2px solid black;
    height:175px;
    margin-left:20px;
    margin-bottom:20px;
}
.div1{
    position:absolute;
    top:0;
    left:71%;
    background-color:rgb(255, 174, 174);
    border: 1px solid black;
    padding:5px;
    width:29.1%;
}
.div2{
    position:absolute;
    top:0;
    left:71%;
    background-color:rgb(171, 13, 13);
    border: 1px solid black;
    padding:5px;
    width:29.1%;
    color: white;
}
.div3{
    position:absolute;
    top:0;
    left:71%;
    background-color:rgb(255, 250, 174);
    border: 1px solid black;
    padding:5px;
    width:29.1%;
    
}

/*****************************************************************************************************************************/
@media (min-width:992px)
{
    .col-lg-3{
        float:left;
        width:29.3%;
       
    }
}
@media (min-width:768px) and (max-width:991px)
{
    .col-md-6 , .col-md-12{
        float:left;
    }
    
    .col-md-6{
        width:40%;
       
    }
    .col-md-12{
        width:83%; 
    }
}
